$heading-font-family: "SpaceGrotesk-Regular", "Helveticar", "Arial", sans-serif
$body-font-family: "AtkinsonHyperlegible-Regular", "Helvetica", "Arial", sans-serif

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: #1E1E1E
$footer-background-color: #1E1E1E

$color-accent: #1A2D26
$color-border:  #346C5F
$color-text: #1E201E
$color-background: #EBEFEE
$color-dark-background-alt: #DCE4E3

$header-color: $color-background
$header-hover-color: $color-border

$hero-color: $color-background
$footer-color: $color-background

$btn-color: $color-background
$btn-hover-color: $color-background
$btn-hover-background: $color-accent

$btn-border-radius: none