$heading-font-family: "LTRBeowolf-R20", "Helvetica", "Arial", sans-serif
$body-font-family: "RobotoSlab-Regular", "Helvetica", "Arial", sans-serif

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none